*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.calendar{
    color: #808080;
    padding: 20px;
    transition: .5;
    font-size: 13px;
    border-bottom: 1px solid #808080;
}

/* CALENDAR HEADER */

.calendar-header{
    font-weight: bold;
    margin-left: 15px;
}

.calendar-header-button{
    float: right;
    margin-right: 15px;
    user-select: none;
}

.calendar-header-button span{
    font-weight: bold;
    margin-left: 15px;
}

.calendar-header-button span:hover{
    cursor: pointer;
}

/* CALENDAR BODY */
.calendar-body{
    margin-top: 10px;
}

.calendar-body table{
    width: 100%;
}

.calendar-body table thead th, .calendar-body table tbody tr td{
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.calendar-body table tbody tr td:hover{
    cursor: pointer;
}

.calendar-body table tbody tr td:not(.current-date){
    color: #000000;
}

.current-date{
    background-color: #4285F4;
    color: #ffffff;
    border-radius: 50%;
}